<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Census Management System</title>
   <link rel="stylesheet" href="/css/style.css">

</head>
<body>

    <!-- Navigation Bar -->
    <header>
        <nav class="navbar">
            <div class="logo">Census Management</div>
            <ul class="nav-links">
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="" class="btn1">Profile</a></li>
                 <li><a href="/anganwadi-login" class="btn2">Logout</a></li>
            </ul>
        </nav>
    </header>

    <!-- Hero Section -->
    <section class="hero" id="home">
        <div class="hero-text">
           <h1 class="gradient-title">Welcome to Census Management Portal</h1>
           <p class="subtitle">Efficient, digital, and secure population data collection.</p>
            <div class="hero-buttons">
                <a href="/new_reg_form" class="btn">Register New Citizen</a>
               <!--  <a href="anganwadi-login.html" class="btn">Anganwadi Login</a>
                <a href="admin-login.html" class="btn">Admin Login</a> -->
            </div>
        </div>
    </section>

    <!-- Features Section -->
    <section class="features" id="services">
        <h2>Our Services</h2>
        <div class="feature-container">

            <div class="feature-box">
                <h3>Citizen Registration</h3>
                <p>Add new citizen data digitally and securely.</p>
            </div>

            <div class="feature-box">
                <h3>Data Management</h3>
                <p>Store and manage census data with accuracy.</p>
            </div>

            <div class="feature-box">
                <h3>Advanced Search</h3>
                <p>Search citizens by name, district, Aadhaar, etc.</p>
            </div>

            <div class="feature-box">
                <h3>Reports And Analytics</h3>
                <p>View population statistics and census overviews.</p>
            </div>

        </div>
    </section>

    <!-- About Section -->
    <section class="about" id="about">
        <h2>About Census System</h2>
        <p>
            The Census Management System helps collect, manage, and analyze population data digitally,
            ensuring accuracy and transparency in national records.
        </p>
    </section>

    <!-- Footer -->
    <footer>
        <p>© 2025 Census Management System | All Rights Reserved</p>
    </footer>

</body>
</html>
