* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f2f6ff;
}

.container {
    display: flex;
}

.sidebar {
    width: 250px;
    background: #0d3878;
    color: white;
    height: 100vh;
    padding: 20px;
}
.sidebar a {
    color: white;
    text-decoration: none;
}

.sidebar a:hover {
    text-decoration: underline; /* Optional hover effect */
}

.sidebar h2 {
    margin-bottom: 20px;
}


.sidebar ul li {
    list-style: none;
    margin: 15px 0;
    cursor: pointer;
}

.main-content {
    flex: 1;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.logout-btn {
    background: #1a73e8;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin-bottom: 30px;
}

.cards > div {
    height: 150px; /* Example height for each card */
}


.card {
    padding: 20px;
    border-radius: 10px;
    color: white;
    font-size: 18px;
}

.blue { background: #2d7ff9; }
.green { background: #22c55e; }
.orange { background: #f59e0b; }
.purple { background: #6366f1; }
.pink { background: #ec4899; }
.yellow { background: rgb(128, 0, 128); }
.lightgreen { background: rgb(128, 64, 0); }
.lightred { background: rgb(255, 0, 0); }
.teal { background: rgb(0, 128, 128); }

.tables {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 20px;
}

.table-box {
    background: white;
    padding: 15px;
    border-radius: 8px;
}

.table-box table {
    width: 100%;
    border-collapse: collapse;
}

.table-box table th,
.table-box table td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.add-btn {
    background: #1a73e8;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
}
